# Python
__pycache__/
*.py[cod]

# --- AI Development Section ---
ai.gitignore

# Training data
data/interim/*.csv
data/interim/*.parquet
!data/interim/validation_set.csv

# Model checkpoints
checkpoints/*/*.pt
!checkpoints/*/best.pt
# --- End AI Development Section ---
